In [2]:
import pandas as pd

data = pd.read_csv("../results/comm_logs/9o5_Diff_langsup.csv", index_col=0)
data

               Generated_Message            Perfect_Message
0                             []                         []
1             ['Prey', 'Center']         ['Prey', 'Center']
2             ['Prey', 'Center']         ['Prey', 'Center']
3             ['Prey', 'Center']         ['Prey', 'Center']
4              ['Prey', 'North']          ['Prey', 'North']
...                          ...                        ...
39995  ['Prey', 'North', 'West']  ['Prey', 'North', 'West']
39996                         []                         []
39997                         []                         []
39998                         []                         []
39999                         []                         []

[40000 rows x 2 columns]

In [5]:
(data["Generated_Message"] == data["Perfect_Message"]).sum() / 40000

0.9832

In [7]:
diff = data[data["Generated_Message"] != data["Perfect_Message"]]
diff

,Generated_Message,Perfect_Message
12,"['Prey', 'Center', 'Prey', 'South']","['Prey', 'East', 'Prey', 'South', 'West']"
28,"['Prey', 'West', 'Prey', 'South']","['Prey', 'West', 'Prey', 'South', 'West']"
44,"['Prey', 'South', 'West', 'Prey', 'South']","['Prey', 'Center', 'Prey', 'South', 'West']"
62,"['Prey', 'North', 'Prey', 'West']","['Prey', 'North', 'Prey', 'North', 'West']"
103,"['Prey', 'South', 'Prey', 'South', 'East']","['Prey', 'South', 'West', 'Prey', 'South', 'Ea..."
...,...,...
39309,"['Prey', 'West', 'Prey', 'Center']","['Prey', 'West', 'Prey', 'South']"
39509,"['Prey', 'West', 'Prey', 'Center']","['Prey', 'West', 'Prey', 'South']"
39703,"['Prey', 'North', 'East']","['Prey', 'North', 'East', 'Prey', 'North', 'Ea..."
39709,"['Prey', 'West', 'Prey', 'Center']","['Prey', 'West', 'Prey', 'South']"
39909,"['Prey', 'West', 'Prey', 'Center']","['Prey', 'West', 'Prey', 'South']"